[Unit]
Description=Dynamic dns servie
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
User=pi
ExecStart=/home/pi/updateDNS.sh
RestartSec=120
Restart=always

[Install]
WantedBy=multi-user.target
