[Unit]
Description=Repos Website Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env /home/pi/.yarn/bin/serve -l 3000 '/home/pi/repos-website/build'

[Install]
WantedBy=multi-user.target
